{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block body %}

<div class="container">
    <h2 class="text-center m-2">Contact</h2>
    <form method="post" action="/contact">
      {% csrf_token %}
      <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" name="Name" class="form-control" id="Name" placeholder="Enter your name" required>
      </div>
      <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" name="Email" class="form-control" id="Email" placeholder="name@example.com">
      </div>
      <div class="mb-3">
          <label for="Desc" class="form-label">Description</label>
          <textarea class="form-control" name="Desc" id="Desc" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

{% endblock body %}
